div {
    margin-bottom: 10px;
    box-sizing: border-box;
    color: #031d5a;
    margin-top: 5px;
    font-size: 16px;
    color: #031d5a;
}

input[type="text"], input[type="number"], input[type="checkbox"] {
    padding: 5px;
    border: 1px solid #5f8fb6;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 16px;
    color: #031d5a;
}

h2 {
    color: #042269;
    margin-bottom: 15px;
    font-size: 20px;
}

form {
    max-width: 450px;
    margin: auto;
    padding: 20px;
    border: 1px solid #97d5da;
    border-radius: 10px;
    background-color: #90cacc;
    color: #031d5a;
}

label {
    margin-right: 10px;
    color: #042269;
    font-size: 16px;
    margin-top: 5px;
}
input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
    size: 16px;
    font-size: 16px;

}

body {
    font-family: Arial, sans-serif;
    background-color: #c5d9f0;
    padding: 20px;
    margin-top: 5px;
    font-size: 16px;
    color: #031d5a;
}

button {
    background-color: #31aaaa;
    color: #031d5a;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}

